<aside #notification
  class="w-[50vw] md:w-[30vw] bg-gray-800 max-h-[calc(100vh-68px)] absolute   transition-all duration-500 ease-in-out shadow-lg shadow-gray-900 flex flex-col items-center gap-y-4 overflow-auto"
  [ngClass]="{'-left-[50vw] ':!hidden, 'left-[-300vw] md:left-[-280vw] ':hidden, 'py-4':notifications.length > 0}">


  <div *ngFor="let notification of notifications"
    class="flex flex-col gap-y-2 items-center relative p-2 w-[80%] min-h-[150px] bg-gray-700 shadow-inner shadow-gray-900 border-b-4 border-solid border-b-blue-800 rounded-b-sm"
    [ngClass]="{'border-b-red-600':notification.type === notificationType.error, 'border-b-blue-800':notification.type === notificationType.info, 'border-b-green-600':notification.type === notificationType.success, 'border-b-yellow-500':notification.type === notificationType.warning}"
    #notificationElement>
    <div class="absolute right-3 top-3"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
        class="w-4 fill-white cursor-pointer hover:fill-red-500" (click)="closeNotification(notification)">
        <path
          d="M175 175C184.4 165.7 199.6 165.7 208.1 175L255.1 222.1L303 175C312.4 165.7 327.6 165.7 336.1 175C346.3 184.4 346.3 199.6 336.1 208.1L289.9 255.1L336.1 303C346.3 312.4 346.3 327.6 336.1 336.1C327.6 346.3 312.4 346.3 303 336.1L255.1 289.9L208.1 336.1C199.6 346.3 184.4 346.3 175 336.1C165.7 327.6 165.7 312.4 175 303L222.1 255.1L175 208.1C165.7 199.6 165.7 184.4 175 175V175zM512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256zM256 48C141.1 48 48 141.1 48 256C48 370.9 141.1 464 256 464C370.9 464 464 370.9 464 256C464 141.1 370.9 48 256 48z" />
      </svg></div>
    <h2 class="bg-slate-800 w-full shadow-inner shadow-gray-900 text-center text-gray-600"
      [ngClass]="{'text-red-600':notification.type === notificationType.error, 'text-blue-800':notification.type === notificationType.info, 'text-green-600':notification.type === notificationType.success, 'text-yellow-500':notification.type === notificationType.warning}">
      {{notification.title}}</h2>
    <div class="w-full min-h-[50px] bg-slate-800 shadow-inner shadow-gray-900 text-neutral-400 p-2">
      {{notification.description}}</div>
    <div class="text-gray-400 text-sm h-4">{{notification.date | date:'medium'}}</div>
  </div>




</aside>
