<nav class="bg-white border-gray-200  w-screen lg:px-4 py-2.5 dark:bg-gray-900 "
  (ClickOutside)="clickedOutsideDropDown()" ClickOutside>
  <div class="flex flex-wrap justify-center gap-x-4 items-center mx-auto w-full">
    <a routerLink="/" class=" lg:m-0 mr-auto w-[2.25rem] ">
      <fa-layers [fixedWidth]="true" class="grid w-[2.25rem] h-full ml-2 lg:ml-0">
        <fa-icon [icon]="faCircle" class="text-blue-600 text-4xl "></fa-icon>
        <fa-icon [icon]="faPlane" [inverse]="true" class="text-center " size="lg"></fa-icon>
      </fa-layers>
    </a>
    <div class="flex justify-center   mr-0">
      <fa-icon [icon]="faBell" *ngIf="authService.isLoggedIn"
        class="text-gray-500 text-2xl hover:text-blue-600 hover:cursor-pointer origin-top transition-colors delay-75"
        (click)="toggleNotification($event)"
        [ngClass]="{'animate-bell': notifications.length > 0 && !_toggleNotification, 'text-red-600':lastNotification?.type === notificationType.error && !_toggleNotification, 'text-blue-800':lastNotification?.type === notificationType.info && !_toggleNotification, 'text-green-600':lastNotification?.type === notificationType.success && !_toggleNotification, 'text-yellow-500':lastNotification?.type === notificationType.warning && !_toggleNotification}">
      </fa-icon>
    </div>
    <div class="flex items-center lg:order-2 ">
      <span routerLink="/sign-in" *ngIf="!authService.isLoggedIn"
        class="cursor-pointer text-gray-800 dark:text-white hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 py-2 lg:px-5 lg:py-2.5 mr-1 lg:mr-2 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800 ">Zaloguj
        się</span>
      <span routerLink="/register-user" *ngIf="!authService.isLoggedIn"
        class="cursor-pointer text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 lg:px-5 lg:py-2.5 mr-1 lg:mr-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Zarejestruj
        się</span>
      <span routerLink="/dashboard" *ngIf="authService.isLoggedIn && authService.userData as User "
        class="hidden lg:block cursor-pointer text-gray-800 dark:text-white hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 py-2 lg:px-5 lg:py-2.5 mr-1 lg:mr-2 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800 ">Profil
        użytkownika {{User.displayName}}</span>
      <span *ngIf="authService.isLoggedIn " (click)="authService.singOut()"
        class="cursor-pointer text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 lg:px-5 lg:py-2.5 mr-1 lg:mr-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Wyloguj</span>
      <button data-collapse-toggle="mega-menu" type="button" (click)="toggleHiddenDropDown()"
        class="inline-flex items-center p-2 ml-1 mr-4 text-sm text-gray-500 rounded-lg lg:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        aria-controls="mega-menu" aria-expanded="false">
        <span class="sr-only">Otwórz menu</span>
        <svg aria-hidden="true" class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
            clip-rule="evenodd"></path>
        </svg>
      </button>
    </div>
    <div id="mega-menu" *ngIf="isMenuOpenDropDown"
      class=" justify-between items-center w-full text-sm lg:flex lg:w-auto lg:order-1 mx-auto" #megaMenu>
      <ul class="flex flex-col mt-4 lg:items-center font-medium lg:flex-row lg:space-x-8 lg:mt-0">
        <li>
          <a routerLink="/"
            class="block py-2 pr-4 pl-3 text-blue-600 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-blue-600 lg:p-0 dark:text-blue-500 lg:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-blue-500 lg:dark:hover:bg-transparent dark:border-gray-700"
            aria-current="page">Strona Główna</a>
        </li>
        <li class="block lg:hidden">
          <span routerLink="/user-profile" *ngIf="authService.isLoggedIn && authService.userData as User "
            class="block lg:hidden cursor-pointer  py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 lg:w-auto hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-blue-600 lg:p-0 dark:text-gray-400 lg:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-blue-500 lg:dark:hover:bg-transparent dark:border-gray-700">Profil
            użytkownika <span class="text-blue-600">{{User.displayName}}</span></span>
        </li>
        <li>
          <div class="wrapper-mega-menu" ClickOutside (ClickOutside)="clickedOutside()">

            <button id="mega-menu-dropdown-button" data-dropdown-toggle="mega-menu-dropdown"
              *ngIf="authService.isLoggedIn" (click)="toggleHidden()"
              class="flex justify-between items-center py-2 pr-4 pl-3 w-full font-medium text-gray-700 border-b border-gray-100 lg:w-auto hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-blue-600 lg:p-0 dark:text-gray-400 lg:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-blue-500 lg:dark:hover:bg-transparent dark:border-gray-700">
              Opcje <svg aria-hidden="true" class="ml-1 w-5 h-5 lg:w-4 lg:h-4" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                  clip-rule="evenodd"></path>
              </svg>
            </button>
            <div id="mega-menu-dropdown" *ngIf="isMenuOpen"
              class="grid text-center  absolute z-10 grid-cols-3 pb-4 w-[100vw] lg:w-auto text-sm bg-white lg:rounded-lg border border-gray-100 shadow-md dark:border-gray-700 lg:grid-cols-3 dark:bg-gray-700">
              <div class="p-4 pb-0 text-gray-900 lg:pb-4 dark:text-white">
                <ul class="space-y-4" aria-labelledby="mega-menu-dropdown-button">
                  <li>
                    <a routerLink="/manage"
                      class="text-gray-500 dark:text-gray-400 hover:text-blue-600 dark:hover:text-blue-500">
                      Zarządzanie Wycieczkami
                    </a>
                  </li>
                  <li>
                    <a routerLink="/admin-panel/analytics"
                      class="text-gray-500 dark:text-gray-400 hover:text-blue-600 dark:hover:text-blue-500">
                      Panel administratora
                    </a>
                  </li>
                  <li>
                    <a routerLink="/"
                      class="text-gray-500 dark:text-gray-400 hover:text-blue-600 dark:hover:text-blue-500">
                      Resources
                    </a>
                  </li>
                </ul>
              </div>
              <div class="p-4 pb-0 text-gray-900 lg:pb-4 dark:text-white">
                <ul class="space-y-4">
                  <li>
                    <a routerLink="/buyHistory"
                      class=" text-gray-500 dark:text-gray-400 hover:text-blue-600 dark:hover:text-blue-500">
                      Historia zakupów
                    </a>
                  </li>
                  <li>
                    <a routerLink="/"
                      class="text-gray-500 dark:text-gray-400 hover:text-blue-600 dark:hover:text-blue-500">
                      Newsletter
                    </a>
                  </li>
                  <li>
                    <a routerLink="/settings"
                      class="text-gray-500 dark:text-gray-400 hover:text-blue-600 dark:hover:text-blue-500">
                      Ustawienia
                    </a>
                  </li>
                </ul>
              </div>
              <div class="p-4 text-gray-900 dark:text-white">
                <ul class="space-y-4">
                  <li>
                    <a routerLink="/"
                      class="text-gray-500 dark:text-gray-400 hover:text-blue-600 dark:hover:text-blue-500">
                      Kontakt
                    </a>
                  </li>
                  <li>
                    <a routerLink="/"
                      class="text-gray-500 dark:text-gray-400 hover:text-blue-600 dark:hover:text-blue-500">
                      Support Center
                    </a>
                  </li>
                  <li>
                    <a routerLink="/"
                      class="text-gray-500 dark:text-gray-400 hover:text-blue-600 dark:hover:text-blue-500">
                      Terms
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li>
          <a routerLink="../trips"
            class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-blue-600 lg:p-0 dark:text-gray-400 lg:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-blue-500 lg:dark:hover:bg-transparent dark:border-gray-700">Oferta</a>
        </li>
        <li>
          <a routerLink="/cart" *ngIf="authService.isLoggedIn"
            class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-blue-600 lg:p-0 dark:text-gray-400 lg:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-blue-500 lg:dark:hover:bg-transparent dark:border-gray-700">
            <fa-layers [fixedWidth]="true" class="text-3xl">
              <fa-icon [icon]="faCartArrowDown"
                class="text-green-600 hover:text-blue-600 dark:hover:text-blue-500 transition duration-150 ease-in-out">
              </fa-icon>
              <fa-layers-counter content="{{reservedTotalAmount}}"></fa-layers-counter>
            </fa-layers>
          </a>
        </li>
      </ul>
    </div>
  </div>

</nav>
