<div class="wrapper flex flex-col items-center min-h-[calc(100vw-68px)] w-screen pb-4 gap-y-4">
  <div class="flex flex-wrap -mx-4 w-[80vw] lg:w-[50vw] ">
    <div class="w-full s p-4 ">
      <div class="c-card  shadow-gray-800 block bg-white shadow-md hover:shadow-xl rounded-lg overflow-hidden  ">
        <div class="relative pb-48 overflow-hidden z-0  w-full h-[200px]">
          <app-imageSlider [slides]="slides"></app-imageSlider>
        </div>
        <div class="p-4">
          <div class="upperCard flex justify-between">

            <span class="info" *ngIf="0 <(trip.maxPlace - trip.amount) && (trip.maxPlace - trip.amount) <= 3">Pozostałe
              miejsca
              {{trip.maxPlace - trip.amount}}</span>
            <span class="info" *ngIf=" trip.maxPlace - trip.amount  === 0">Brak wolnych miejsc</span>
          </div>
          <h2 class="mt-2 mb-2 text-xl  font-bold text-center">{{trip.name | uppercase}}</h2>
          <h3 class="mt-2 mb-2 text-sm  font-semibold text-center">{{trip.DestinationCountry | uppercase}}</h3>
          <p class="text-sm text-center">{{trip.Description}}</p>
          <div class="mt-3   grid grid-cols-2 grid-rows-2 place-items-center">
            <div class="price  col-start-1 col-end-3 row-start-1 row-end-1">
              <span class="text-sm font-semibold"></span>&nbsp;<span
                class="font-bold text-xl">{{trip.unitPrice}}</span>&nbsp;<span
                class="text-sm font-semibold">{{trip.currency}}</span>
            </div>

            <button type="button"
              class="buttons justify-self-end   bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 "
              (click)="addClick(trip)" [ngClass]="{'invisible': (trip.amount >= trip.maxPlace) }">
              <fa-icon [icon]="faPlus" class="text-stone-900"></fa-icon>
            </button>
            <button type="button"
              class="buttons justify-self-start    bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 "
              (click)="removeClick(trip)" *ngIf="trip.amount > 0">
              <fa-icon [icon]="faMinus" class="text-stone-900"></fa-icon>
            </button>

            <button type="button" class="buttons justify-self-start  bg-stone-800  cursor-not-allowed "
              *ngIf="trip.amount == 0 " disabled>
              <fa-icon [icon]="faMinus" class="text-stone-400"></fa-icon>
            </button>


          </div>
        </div>
        <div class="p-4 border-t border-b text-xs text-gray-700 grid grid-cols-2 grid-rows-2 place-content-center">
          <span class="flex items-center justify-center">
            Liczba miejsc: {{trip.maxPlace}}
          </span>
          <span class="flex items-center justify-center">
            Ilosc: {{trip.amount}}
          </span>
          <div class="datas">
            <span>
              <fa-icon [icon]="faClock" class="pr-1"></fa-icon>Rozpoczęcie wycieczki:
            </span> <span>{{trip.StartData}}</span>
          </div>
          <div class="datas">
            <span>
              <fa-icon [icon]="faClock" class="pr-1"></fa-icon>Koniec wycieczki:
            </span> <span>{{trip.EndData}}</span>
          </div>

        </div>
        <div class="bottom flex flex-wrap justify-center px-5 py-2.5">
          <app-trip-rating [likes]="trip.likes" [disLikes]="trip.dislikes"></app-trip-rating>
          <button type="button"
            class="buttons text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300  dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900"
            (click)="onRemove()">Usuń
            Wycieczke</button>
        </div>
      </div>
    </div>
  </div>

  <div
    class="flex flex-col items-center gap-y-4 py-[30px] w-[90vw] mt-10 min-h-[400px]  bg-gray-800 rounded-lg shadow-md shadow-gray-900 relative ">
    <div
      class="flex items-center absolute w-[80%] h-[50px] bg-zinc-900 -top-[25px] left-[50%] -translate-x-[50%] rounded-lg shadow-inner shadow-zinc-800">
      <div class="grid place-content-center w-full h-[30px] bg-zinc-800 shadow-inner shadow-zinc-900">
        <h2 class="text-blue-600">Opinie</h2>
      </div>
    </div>
    <div class="flex flex-col items-center p-2 w-[80%] min-h-[200px] " *ngFor="let opinion of opinions">
      <div class="bg-zinc-800 w-full text-blue-600 shadow-md shadow-zinc-900">
        <h2 class="w-full text-center">{{opinion.nick}}</h2>
      </div>
      <div class="w-full min-h-[150px]">
        <div class="w-full min-h-[140px] bg-gray-500 shadow-md shadow-gray-800 p-2 break-words">{{opinion.description}}
        </div>
        <div class="grid place-content-center w-full h-[20px] bg-gray-600 mt-1" *ngIf="opinion.date !== ''">
          <p>Data zakupu wycieczki: {{opinion.date}}</p>
        </div>
      </div>
    </div>

  </div>
  <div class="w-[50vw]">
    <form
      class="flex flex-col items-center border-2 bg-gray-800 rounded-lg shadow-md shadow-gray-900 border-none p-10 relative mt-[25px]"
      #form="ngForm" (ngSubmit)="addOpinion(form)">
      <div
        class="flex items-center absolute w-[80%] h-[50px] bg-zinc-900 -top-[25px] left-[50%] -translate-x-[50%] rounded-lg shadow-inner shadow-zinc-800">
        <div class="grid place-content-center w-full h-[30px] bg-zinc-800 shadow-inner shadow-zinc-900">
          <h2 class="text-blue-600">Dodaj opinie</h2>
        </div>
      </div>
      <div class="relative z-0 mb-6 w-[200px] group">
        <input type="text" name="nick" id="nick" [(ngModel)]="nick"
          class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          placeholder=" " />
        <label for="nick"
          class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Podaj
          nick</label>
      </div>
      <div class="relative z-0 mb-6  w-[200px] group">
        <input type="text" name="trip_name" id="trip_name" [(ngModel)]="tripName"
          class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          placeholder=" " />
        <label for="trip_name"
          class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Podaj
          nazwe wycieczki</label>
      </div>
      <div class="relative z-0 mb-6 w-[200px] group">
        <input type="date" name="date_buy" id="date_buy" [(ngModel)]="date"
          class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          placeholder=" " />

        <label for="date_buy"
          class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Data
          zakupu wycieczki</label>
      </div>
      <div class="relative z-0 mb-6 w-[90%] md:w-[50%] group">
        <textarea name="Description" id="description" [(ngModel)]="description"
          class="block py-2.5 px-0 w-full min-h-[50px] max-h-[150px] text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          placeholder=" "> </textarea>
        <label for="description"
          class=" absolute text-lg text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-10 scale-75 top-3 -z-10 origin-[0]  ">
          Opinia</label>
        {{description.length <= 0 ? " ":description.length}}
      </div>
      <div>
        <button type="submit"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 cursor-pointer  focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Dodaj</button>
        <button type="reset"
          class="md:ml-4 mt-4  text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 cursor-pointer  focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Reset</button>
      </div>
    </form>
  </div>

</div>
