<div class="flex flex-wrap" *ngIf="currency !== undefined">
  <div class="w-full md:w-1/2 xl:w-1/3 p-6">
    <div class="bg-gradient-to-b from-green-200 to-green-100 border-b-4 border-green-600 rounded-lg shadow-xl p-5">
      <div class="flex flex-row items-center">
        <div class="flex-shrink pr-4">
          <div class="rounded-full p-5 bg-green-600">
            <fa-icon class="fa-inverse" [icon]="faWallet" size="2x"></fa-icon>
          </div>
        </div>
        <div class="flex-1 text-right md:text-center">
          <h2 class="font-bold uppercase text-gray-600">Całkowity zysk</h2>
          <p class="font-bold text-3xl">{{revenue}} <span>{{currency}}</span> <span class="text-green-500"><i
                class="fas fa-caret-up"></i></span></p>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full md:w-1/2 xl:w-1/3 p-6">
    <div class="bg-gradient-to-b from-pink-200 to-pink-100 border-b-4 border-pink-500 rounded-lg shadow-xl p-5">
      <div class="flex flex-row items-center">
        <div class="flex-shrink pr-4">
          <div class="rounded-full p-5 bg-pink-600">
            <fa-icon class="fa-inverse" size="2x" [icon]="faUsers"></fa-icon>
          </div>
        </div>
        <div class="flex-1 text-right md:text-center">
          <h2 class="font-bold uppercase text-gray-600">Wszyscy użytkownicy</h2>
          <p class="font-bold text-3xl">{{numberOfUsers}} <span class="text-pink-500"><i
                class="fas fa-exchange-alt"></i></span></p>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full md:w-1/2 xl:w-1/3 p-6">
    <div class="bg-gradient-to-b from-yellow-200 to-yellow-100 border-b-4 border-yellow-600 rounded-lg shadow-xl p-5">
      <div class="flex flex-row items-center">
        <div class="flex-shrink pr-4">
          <div class="rounded-full p-5 bg-yellow-600">
            <fa-icon class="fa-inverse" size="2x" [icon]="faUserPlus"></fa-icon>
          </div>
        </div>
        <div class="flex-1 text-right md:text-center">
          <h2 class="font-bold uppercase text-gray-600">Nowi użytkownicy</h2>
          <p class="font-bold text-3xl">2 <span class="text-yellow-600"><i class="fas fa-caret-up"></i></span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full md:w-1/2 xl:w-1/3 p-6">
    <div class="bg-gradient-to-b from-blue-200 to-blue-100 border-b-4 border-blue-500 rounded-lg shadow-xl p-5">
      <div class="flex flex-row items-center">
        <div class="flex-shrink pr-4">
          <div class="rounded-full p-5 bg-blue-600">
            <fa-icon class="fa-inverse" size="2x" [icon]="faServer"></fa-icon>
          </div>
        </div>
        <div class="flex-1 text-right md:text-center">
          <h2 class="font-bold uppercase text-gray-600">Czas działania serwera</h2>
          <p class="font-bold text-3xl">152 dni</p>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="flex flex-row flex-wrap flex-grow mt-2">

  <div class="w-full md:w-1/2 xl:w-1/3 p-6 h-[300px]">
    <div class="bg-white border-transparent rounded-lg shadow-xl">
      <div
        class="bg-gradient-to-b from-gray-300 to-gray-100 uppercase text-gray-800 border-b-2 border-gray-300 rounded-tl-lg rounded-tr-lg p-2">
        <h2 class="font-bold uppercase text-gray-600">Wykres</h2>
      </div>
      <div class="p-5">
        <canvas id="chartjs-0" class="chartjs" width="undefined" height="undefined"></canvas>
      </div>
    </div>
  </div>

  <div class="w-full md:w-1/2 xl:w-1/3 p-6 h-[300px]">

  </div>

  <div class="w-full md:w-1/2 xl:w-1/3 p-6 h-[300px]">

  </div>
  <div class="w-full md:w-1/2 xl:w-1/3 p-6 h-[300px]">

  </div>
  <div class="w-full md:w-1/2 xl:w-1/3 p-6 h-[300px]">

  </div>

</div>
