<div class="bg-slate-900 relative p-10 flex justify-center">
  <div class="absolute top-0 right-0 w-6 aspect-square bg-red-600 rounded-bl-lg hover:bg-red-800 cursor-pointer"
    (click)="closeDialog()"></div>
  <form class="w-full" #form="ngForm" (ngSubmit)="handleSubmit()" name="addTrip">
    <div class="relative z-0 mb-6 w-full group">
      <input type="text" name="name" id="name" [(ngModel)]="namePassed" appNameValidator #name="ngModel"
        class=" block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
        placeholder=" " required />

      <label for="name"
        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Nazwa
        Wycieczki</label>
      <small *ngIf="(name.touched || name.dirty) && name.errors?.['nameInvalid']" class="text-red-600">Podaj nazwę z
        wielkiej
        litery o minimalnej
        długości 2</small>
    </div>
    <div class="relative z-0 mb-6 w-full group">
      <input type="text" name="dountry" id="Country" [(ngModel)]="countryPassed" appNameValidator #country="ngModel"
        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
        placeholder=" " required />
      <label for="Country"
        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Kraj
        podróży</label>
      <small *ngIf="(country.touched || country.dirty) && country.errors?.['nameInvalid']" class="text-red-600">Podaj
        nazwę z wielkiej litery o minimalnej
        długości 2</small>
    </div>
    <div class="relative z-0 mb-6 w-full group">
      <textarea name="description" id="Description" [(ngModel)]="descriptionPassed"
        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
        placeholder=" "> </textarea>
      <label for="Description"
        class=" absolute text-lg text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0]  ">
        Opis wycieczki</label>
    </div>
    <div class="grid md:grid-cols-2 md:gap-6">
      <div class="relative z-0 mb-6 w-full group">
        <input type="date" name="date_start" id="date_start" #dataStart="ngModel" [(ngModel)]="dateStartPassed"
          class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          placeholder=" " required />

        <label for="date_start"
          class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Data
          rozpoczęcia wycieczki</label>
      </div>

      <div class="relative z-0 mb-6 w-full group">
        <input type="date" name="date_end" id="date_end" [(ngModel)]="dateEndPassed" min="{{dataStart.value}}"
          [disabled]="dataStart.value === '' "
          class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          placeholder=" " required />
        <label for="date_end"
          class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Data
          zakończenia wycieczki</label>
      </div>
    </div>
    <div class="grid md:grid-cols-4 md:gap-6 ">
      <div class="relative z-0 mb-6 w-full group md:col-span-2">
        <input type="number" name="places" id="places" min="1" [(ngModel)]="placesPassed"
          class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          placeholder=" " required number />
        <label for="places"
          class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Liczba
          miejsc</label>
      </div>

      <div class="relative z-0 mb-6 w-full group md:col-span-2">
        <input type="number" name="unit_price" id="unit_price" min="1" [(ngModel)]="unitPricePassed"
          class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          placeholder=" " required />
        <label for="unit_price"
          class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Cena</label>
      </div>

    </div>
    <button type="submit" *ngIf="!form.valid" disabled
      class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 cursor-not-allowed  focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800 }">Wyłączony</button>
    <button type="submit" *ngIf="form.valid"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 cursor-pointer  focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Modyfikuj</button>
    <button type="button" (click)="setToDefault()"
      class="md:ml-4 mt-4  text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 cursor-pointer  focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Reset</button>
  </form>
</div>
