<div class="w-[80vw] my-8 min-h-[calc(80vh-50px)] rounded-2xl shadow-md shadow-neutral-900  bg-gray-900 p-2 ">
  <select name="currencies" id="currencies" [(ngModel)]="selectedCurrency" (ngModelChange)="onCurrencyChange($event)"
    *ngIf="selectedCurrency !== undefined && currenciesArray !== undefined && currenciesArray.length > 0"
    class="px-4 py-3   overflow-hidden mb-4 rounded-2xl text-blue-600 shadow-lg  dark:bg-zinc-800 border-transparent focus:border-zinc-500 focus:bg-zinc-800 focus:ring-0 text-sm ">
    <option [ngValue]="'Waluta'" class="text-blue-600" disabled>Waluta</option>
    <option [ngValue]="currency" *ngFor="let currency of currenciesArray">{{currency}}</option>
  </select>
</div>
