<nav class="bg-white border-gray-200 px-2 w-screen md:px-4 py-2.5 dark:bg-gray-900 ">
  <div class="flex flex-wrap justify-center gap-x-4 items-center mx-auto w-full">
    <a routerLink="/" class=" md:m-0 mr-auto w-[2.25rem] ">
      <fa-layers [fixedWidth]="true" class="grid w-[2.25rem] h-full">
        <fa-icon [icon]="faCircle" class="text-blue-600 text-4xl "></fa-icon>
        <fa-icon [icon]="faPlane" [inverse]="true" class="text-center " size="lg"></fa-icon>
      </fa-layers>
    </a>
    <div class="flex justify-center   mr-0">
      <fa-icon [icon]="faBell" class="text-gray-500 text-2xl animate-bell hover:text-blue-600 hover:cursor-pointer"
        (click)="toggleNotification($event)">
      </fa-icon>
    </div>
    <div class="flex items-center md:order-2 ">
      <a
        class="text-gray-800 dark:text-white hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 py-2 md:px-5 md:py-2.5 mr-1 md:mr-2 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800 ">Login</a>
      <a
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 md:px-5 md:py-2.5 mr-1 md:mr-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Sign
        up</a>
      <button data-collapse-toggle="mega-menu" type="button" (click)="toggleHidden($event, megaMenu)"
        class="inline-flex items-center p-2 ml-1 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        aria-controls="mega-menu" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg aria-hidden="true" class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
            clip-rule="evenodd"></path>
        </svg>
      </button>
    </div>
    <div id="mega-menu" class="hidden justify-between items-center w-full text-sm md:flex md:w-auto md:order-1 mx-auto"
      #megaMenu>
      <ul class="flex flex-col mt-4 md:items-center font-medium md:flex-row md:space-x-8 md:mt-0">
        <li>
          <a routerLink="/"
            class="block py-2 pr-4 pl-3 text-blue-600 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-600 md:p-0 dark:text-blue-500 md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-blue-500 md:dark:hover:bg-transparent dark:border-gray-700"
            aria-current="page">Strona Główna</a>
        </li>
        <li>
          <button id="mega-menu-dropdown-button" data-dropdown-toggle="mega-menu-dropdown"
            (click)="toggleHidden($event, hiddenDropDown)"
            class="flex justify-between items-center py-2 pr-4 pl-3 w-full font-medium text-gray-700 border-b border-gray-100 md:w-auto hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-600 md:p-0 dark:text-gray-400 md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-blue-500 md:dark:hover:bg-transparent dark:border-gray-700">
            Opcje <svg aria-hidden="true" class="ml-1 w-5 h-5 md:w-4 md:h-4" fill="currentColor" viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
            </svg>
          </button>
          <div id="mega-menu-dropdown" #hiddenDropDown
            class="grid hidden text-center  absolute z-10 grid-cols-3 pb-4 w-[100vw] md:w-auto text-sm bg-white md:rounded-lg border border-gray-100 shadow-md dark:border-gray-700 md:grid-cols-3 dark:bg-gray-700">
            <div class="p-4 pb-0 text-gray-900 md:pb-4 dark:text-white">
              <ul class="space-y-4" aria-labelledby="mega-menu-dropdown-button">
                <li>
                  <a routerLink="/tripAdd"
                    class="text-gray-500 dark:text-gray-400 hover:text-blue-600 dark:hover:text-blue-500">
                    Dodaj Wycieczke
                  </a>
                </li>
                <li>
                  <a routerLink="/"
                    class="text-gray-500 dark:text-gray-400 hover:text-blue-600 dark:hover:text-blue-500">
                    Library
                  </a>
                </li>
                <li>
                  <a routerLink="/"
                    class="text-gray-500 dark:text-gray-400 hover:text-blue-600 dark:hover:text-blue-500">
                    Resources
                  </a>
                </li>
              </ul>
            </div>
            <div class="p-4 pb-0 text-gray-900 md:pb-4 dark:text-white">
              <ul class="space-y-4">
                <li>
                  <a routerLink="/"
                    class="text-gray-500 dark:text-gray-400 hover:text-blue-600 dark:hover:text-blue-500">
                    Blog
                  </a>
                </li>
                <li>
                  <a routerLink="/"
                    class="text-gray-500 dark:text-gray-400 hover:text-blue-600 dark:hover:text-blue-500">
                    Newsletter
                  </a>
                </li>
                <li>
                  <a routerLink="/"
                    class="text-gray-500 dark:text-gray-400 hover:text-blue-600 dark:hover:text-blue-500">
                    License
                  </a>
                </li>
              </ul>
            </div>
            <div class="p-4 text-gray-900 dark:text-white">
              <ul class="space-y-4">
                <li>
                  <a routerLink="/"
                    class="text-gray-500 dark:text-gray-400 hover:text-blue-600 dark:hover:text-blue-500">
                    Kontakt
                  </a>
                </li>
                <li>
                  <a routerLink="/"
                    class="text-gray-500 dark:text-gray-400 hover:text-blue-600 dark:hover:text-blue-500">
                    Support Center
                  </a>
                </li>
                <li>
                  <a routerLink="/"
                    class="text-gray-500 dark:text-gray-400 hover:text-blue-600 dark:hover:text-blue-500">
                    Terms
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li>
          <a routerLink="../trips"
            class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-600 md:p-0 dark:text-gray-400 md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-blue-500 md:dark:hover:bg-transparent dark:border-gray-700">Oferta</a>
        </li>
        <li>
          <a routerLink="/cart"
            class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-600 md:p-0 dark:text-gray-400 md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-blue-500 md:dark:hover:bg-transparent dark:border-gray-700">
            <fa-layers [fixedWidth]="true" class="text-3xl">
              <fa-icon [icon]="faCartArrowDown"
                class="text-green-600 hover:text-blue-600 dark:hover:text-blue-500 transition duration-150 ease-in-out">
              </fa-icon>
              <fa-layers-counter content="{{cart.reservedTotalAmount}}"></fa-layers-counter>
            </fa-layers>
          </a>
        </li>
      </ul>
    </div>
  </div>

</nav>
