/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-500 {
    animation-delay: .5s;
  }
  .animation-delay-1000 {
    animation-delay: 1s;
  }
  .animation-delay-1500 {
    animation-delay: 1.5s;
  }
  .blob {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
}

@layer components {
  :root {
    font-size: 18px !important;
  }
  .info {
    @apply inline-block px-2 py-1 ml-2 leading-none bg-blue-200 text-blue-600 rounded-full font-semibold text-center uppercase tracking-wide text-xs;
  }

  .dislikes {
    @apply text-red-600 font-bold;
  }

  .likes {
    @apply text-green-600 font-bold;
  }

  .datas {
    @apply grid grid-cols-1 grid-rows-1 items-center justify-items-center
  }

  .buttons {
    @apply text-white font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2;
  }

  .social-button {
    @apply rounded-full border-2 border-white text-white leading-normal uppercase cursor-pointer hover:text-blue-600 hover:border-blue-600 hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out w-9 h-9 m-1
  }

  .disabled-social {
    @apply  border-gray-600 text-gray-600 cursor-not-allowed hover:text-gray-600 hover:border-gray-600;
  }

  .text-shadow {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.10);
  }

  .text-shadow-md {
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.08);
  }

  .text-shadow-lg {
    text-shadow: 0 15px 30px rgba(0, 0, 0, 0.11), 0 5px 15px rgba(0, 0, 0, 0.08);
  }

  .text-shadow-none {
    text-shadow: none;
  }
  .TheCheapest {
    @apply bg-green-600 text-slate-100 shadow-green-800 !important;
  }
  mat-dialog-container {
    background-color: transparent !important;
    padding: 0px 0px 0px 0px !important;
    overflow-y: auto !important;
    overflow-x: hidden !important;
    border-radius: 0.5rem !important;
    box-shadow: none !important;
    padding: 0 !important;
  }
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 9999px;
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: hsl(0, 0%, 33%);
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: hsl(0, 0%, 23%);
  }
  ::-webkit-scrollbar {
    border-radius: 9999px;
    width: 12px;
    background-color: transparent;
  }
  body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: initial;
    @apply bg-zinc-900
  }
  
  body::-webkit-scrollbar-thumb {
    border-radius: 9999px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: hsl(0, 0%, 33%);
  }

  body::-webkit-scrollbar-thumb:hover {
    background-color: hsl(0, 0%, 23%);
  }
  body::-webkit-scrollbar {
    border-radius: 9999px;
    width: 12px;
    background-color: transparent;
  }

  

}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
