/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 18px;
}

@layer components {
  .info {
    @apply inline-block px-2 py-1 ml-2 leading-none bg-blue-200 text-blue-600 rounded-full font-semibold text-center uppercase tracking-wide text-xs;
  }

  .dislikes {
    @apply text-red-600 font-bold;
  }

  .likes {
    @apply text-green-600 font-bold;
  }

  .datas {
    @apply grid grid-cols-1 grid-rows-1 items-center justify-items-center
  }

  .buttons {
    @apply text-white font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2;
  }

  .footer-button {
    @apply rounded-full border-2 border-white text-white leading-normal uppercase cursor-pointer hover:text-blue-600 hover:border-blue-600 hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out w-9 h-9 m-1
  }

  .text-shadow {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.10);
  }

  .text-shadow-md {
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.08);
  }

  .text-shadow-lg {
    text-shadow: 0 15px 30px rgba(0, 0, 0, 0.11), 0 5px 15px rgba(0, 0, 0, 0.08);
  }

  .text-shadow-none {
    text-shadow: none;
  }
  .TheCheapest {
    @apply bg-green-600 text-slate-100 shadow-green-800 !important;
  }
}
