<div
  class="w-screen h-[calc(200vh-68px)] bg-[url(/assets/Images/background-home.jpg)] bg-cover bg-no-repeat    grid place-content-center filter -hue-rotate-15 ">

  <div class="z-30  items-center justify-center w-full h-full overflow-auto">
    <div class="absolute inset-0 z-20 flex items-center justify-center h-full w-full bg-gray-900 bg-opacity-75"></div>
    <div class="absolute inset-0  z-30  flex flex-col items-center justify-around ">
      <div class="shadow-2xl rounded-lg w-4/5 h-96 bg-cover bg-center hue-rotate-15  " style=" 
            background-image: 
            url('https://wallpapercave.com/wp/wp6689710.jpg');">

        <div class="grid grid-cols-12 gap-1 ">
          <div class="relative my-6 px-8 col-span-12 sm:col-span-12 md:col-span-7 lg:col-span-7 xxl:col-span-7">
            <div class="border-l-4 border-gray-400 py-20 px-5 mx-2 absolute left-0">
              <p class="italic text-white text-xl md:text-4xl lg:text-6xl uppercase text-center  font-semibold ">
                Oh The Places You'll Go Travel Co.
              </p>
            </div>
            <div class="text-gray-400 font-semibold text-xl mb-4">
              <fa-icon [icon]="faBars"></fa-icon>
            </div>
            <div class="absolute border-gray-400 border-t-4 bottom-0 py-1 px-4 w-4/5"></div>
          </div>
          <div class="col-span-12 sm:col-span-12 md:col-span-5 lg:col-span-5 xxl:col-span-5">
            <div class="relative bg-gray-900 h-full md:h-96 w-full bg-opacity-75 rounded-tr-lg rounded-br-lg">
              <div class="p-8">
                <p class="text-white text-xs md:text-sm lg:text-xl mb-4">
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem, aperiam similique quaerat ad
                  repellendus soluta deleniti sit, molestiae labore iste cum expedita ipsam nemo vel numquam minus?
                  Repellendus eos dolorem labore saepe mollitia dicta est aperiam unde voluptas doloremque? Reiciendis?
                </p>
                <div class="bottom-0 absolute p-2 right-0">
                  <button
                    class="opacity-75 bg-gray-100 hover:bg-blue-700 hover:text-white text-sm font-bold py-2 px-4 rounded inline-flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24"
                      stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                    <span>LEARN MORE</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="z-30 relative wrapper-map w-[80vw] h-[600px]  rounded-lg bg-gray-700 ">
        <google-map height="100%" width="100%" [zoom]="zoom" [center]="center" [options]="options">
          <map-marker #marker="mapMarker" [position]="center" title="Lokalizacja biura" [options]="optionsMarker"
            (mapClick)="openInfo(marker)">
          </map-marker>

          <map-info-window>Latitude: {{center.lat}} <br> Longitude: {{center.lng}}</map-info-window>
        </google-map>
        <div class="container mx-auto px-20">

          <div
            class="bg-slate-800 absolute top-[90%] translate-y-[-50%] w-[80%] left-0 right-0 m-auto rounded-2xl shadow-md shadow-gray-900">
            <div
              class="relative w-full h-full p-8 mx-auto mb-4 text-blue-600 bg-gray-900 rounded-md shadow-2xl rounded-t-2xl"
              style="cursor: auto;">
              <div class="items-center text-center xs:flex xs:text-left xs:space-x-10">
                <div class="flex-1 leading-chillaxed">
                  <div class="mb-4">
                    <strong class="block text-lg">California</strong><span class="text-gray-400">Los Angeles</span>
                    <br><small class="text-gray-500">3
                      Emmet Park</small>
                  </div>
                  <ul>

                    <li>
                      <a href="tel:2139913275" class="inline-block h-12 -my-4 xs:h-auto underline hover:no-underline">
                        <svg class="inline-block w-4 h-4 mr-3 opacity-40" xmlns="http://www.w3.org/2000/svg" fill="none"
                          viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z">
                          </path>
                        </svg>213-991-3275
                      </a>
                    </li>
                    <li>
                      <svg class="inline-block w-4 h-4 mr-3 opacity-40" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z">
                        </path>
                      </svg>
                      <a class="inline-block h-12 -my-4 xs:h-auto underline hover:no-underline"
                        href="mailto:john@doe.com">gcullinane0@last.fm</a>
                    </li>
                  </ul>
                  <div class="absolute bottom-0 left-0 w-full h-2 bg-yellow-600 shadow-lg shadow-gray-900"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



</div>
